@use "./../../../../assets/styles/variables.scss";
header{
    background-color: variables.$color-fondo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    img{
        width: 100px;

    }

    a{
        font-weight: bold;
    
    }
}
