@use "sass:color";

//colores
$color-1:#253641;
$color-2:#0E3A47;
$color-3:#1D8D7D;
$color-4:#89BF9C;
$color-5:#E6E4C6;
$color-6:#E44848;

$color-primario: $color-6;
$color-primario-claro: color.scale($color-primario,$lightness: 70%);
$color-primario-oscuro: color.scale($color-primario,$lightness: -30%);

$color-secundario: $color3;
$color-secundario-claro: color.scale($color-secundario,$lightness: 70%);
$color-secundario-oscuro: color.scale($color-secundario,$lightness: -30%);

$color-fondo: $color-4;

$color-texto: $color-1;
$color-texto-invertido: $color-5;

$breakpoint-mobile: 400px;
$breakpoint-tablet: 900px;
$breakpoint-4k: 1500px;


